{\n  "github.com": {\n    "username": "YOUR_GITHUB_USERNAME",\n    "token": "YOUR_GITHUB_PERSONAL_ACCESS_TOKEN"\n  },\n  "gitlab.com": {\n    "username": "YOUR_GITLAB_USERNAME",\n    "token": "YOUR_GITLAB_PERSONAL_ACCESS_TOKEN"\n  },\n  "bitbucket.org": {\n    "username": "YOUR_BITBUCKET_USERNAME",\n    "token": "YOUR_BITBUCKET_APP_PASSWORD"\n  },\n  "dev.azure.com": {\n    "username": "YOUR_AZURE_USERNAME",\n    "token": "YOUR_AZURE_PERSONAL_ACCESS_TOKEN"\n  }\n}